extends layout

block content
    h1= title
    table
        thead
            tr
                th Nombre
                th Puntos
            tbody
                //si hay más de un usuario
                if(jugadores)
                    each jugador in jugadores
                        tr
                            td=jugador.nombre
                            td=jugador.puntos
                else
                    tr
                        td=jugador.nombre
                        td=jugador.puntos